
<footer>
    <div class="socials">
        <!-- <a href="https://twitter.com/">Twitter</a>
        <a href="#">Bluesky</a>
        <a href="mailto:janetdg.dev@gmail.com">Email</a>
        <a href="#">Dribbble</a>
        <a href="https://github.com/">Github</a> -->
    </div>
    <div class="copyright">
        <p>© 2021 Copyright: <a href="https://janetdg.netlify.app/">Codig</a></p>
    </div>
</footer>
</body>
</html>