<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seen</title>
  <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="content">
  <header class="u-container">
    <nav class="navbar flex">
      <a class="logo" href="/feed"><img src="/imgs/logo.svg"></a>
      <!-- <div class="search flex">
        <form role="search" action="/search" method="get">
          <input type="text" name="q" placeholder="Search for artworks">
          <button class="btn" type="submit">Search</button>
        </form>
      </div> -->
      <div class="nav-btns">
        <div class="add-post">
          <div class="dropdown">
            <button class="btn dropbtn" onclick="toggleDropdown(event, 'upload-dropdown')">Upload</button>
            <div id="upload-dropdown" class="upload dropdown-content">
              <h2>Add a post</h2>
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="title">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="caption">
                  <label for="caption" class="form-label">Caption</label>
                  <textarea class="form-control" id="caption" name="caption"></textarea>
                </div>
                <div class="file">
                  <label for="imageUpload" class="file-upload">Choose Image</label>
                  <input type="file" name="file" id="imageUpload" style="display: none;">
                </div>
                <button type="submit" class="btn" value="Upload">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <% if (isAuthenticated) { %>
        <div class="menu">
          <div class="dropdown">
            <button class="btn dropbtn" onclick="toggleDropdown(event, 'account-dropdown')">Account</button>
            <div id="account-dropdown" class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/settings">Settings</a>
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </div>
        <% } else { %>
        <a class="btn login" href="/login">Login</a>
        <% } %>
      </div>
    </nav>
  </header>
  <script>
    function toggleDropdown(event, dropdownContentId) {
      event.stopPropagation();

      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.id !== dropdownContentId && openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }

      document.getElementById(dropdownContentId).classList.toggle("show");
    }

    document.querySelectorAll(".dropdown").forEach(dropdown => {
      dropdown.addEventListener("click", function(event) {
        event.stopPropagation();
      });
    });

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    };

    document.addEventListener('DOMContentLoaded', function() {
      const fileInput = document.getElementById('imageUpload');
      const fileLabel = document.querySelector('label[for="imageUpload"]');
      const originalColor = window.getComputedStyle(fileLabel).color;

      fileInput.addEventListener('change', function() {
        if (fileInput.files && fileInput.files.length > 0) {
          fileLabel.textContent = fileInput.files[0].name;
          fileLabel.style.color = '#4CAF50';
          fileLabel.style.borderColor = '#4CAF50';
        } else {
          fileLabel.textContent = 'Choose Image';
          fileLabel.style.color = originalColor;
          fileLabel.style.borderColor = '#ccc';
        }
      });
    });
  </script>
</body>

</html>