<%- include('partials/header') -%>
<main class="hero u-container">
  <div class="hero-bg"></div>
  <div class="feature-wrapper">
    <h1 class="noselect">Oh yeah I've</h1>
    <span class="noselect">seen</span>
    <h1 class="noselect">that</h1>
  </div>
</main>


<div class="explore u-container">
  <span>Explore</span>
</div>
<hr class="solid" />

<section class="gallery u-grid">
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1661094346145-d835e44c1ec4?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Christian Lendl" class="gallery__image" />
      <figcaption class="gallery__caption">
        Portrait by Christian Lendl
      </figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1548044604-e6258aab4b72?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Timothy Dachraoui" class="gallery__image" />
      <figcaption class="gallery__caption">
        Portrait by Timothy Dachraoui
      </figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1594470490309-64a03ff626c6?q=80&w=2536&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Ajay Parthasarathy" class="gallery__image" />
      <figcaption class="gallery__caption">
        Portrait by Ajay Parthasarathy
      </figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1631070398737-4b379318e498?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Arpit Agrawal" class="gallery__image" />
      <figcaption class="gallery__caption">Portrait by Arpit Agrawal</figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1592169207569-e74f90216375?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D" alt="Portrait by Gio Barlett" class="gallery__image" />
      <figcaption class="gallery__caption">Portrait by Gio Barlett</figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://img.freepik.com/premium-photo/close-up-poster-wall-against-sky_1048944-16223698.jpg?w=2000" alt="Portrait by EyeEm" class="gallery__image" />
      <figcaption class="gallery__caption">
        Portrait by EyeEm
      </figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1583225238311-0278ade1070d?q=80&w=2533&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Bruno Figueiredo" class="gallery__image" />
      <figcaption class="gallery__caption">Portrait by Bruno Figueiredo</figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1607873193806-dbc3ab0c5ed2?q=80&w=2549&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Sam Fry" class="gallery__image" />
      <figcaption class="gallery__caption">
        Portrait by Sam Fry
      </figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.unsplash.com/photo-1618123552606-ae9d41c7e346?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Portrait by Mike Von" class="gallery__image" />
      <figcaption class="gallery__caption">Portrait by Mike Von</figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.pexels.com/photos/31128764/pexels-photo-31128764/free-photo-of-kappa-statue-in-taito-city-tokyo-street-setting.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Portrait by Dane Cardiel" class="gallery__image" />
      <figcaption class="gallery__caption">Portrait by Dane Cardiel</figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.pexels.com/photos/27082677/pexels-photo-27082677/free-photo-of-mural-on-building-wall-at-night.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Portrait by Halil Fatih Çetin" class="gallery__image" />
      <figcaption class="gallery__caption">Portrait by Halil Fatih Çetin</figcaption>
    </figure>
  </a>
  <a href="#" class="gallery__link">
    <figure class="gallery__thumb">
      <img src="https://images.pexels.com/photos/15829530/pexels-photo-15829530/free-photo-of-cartoon-girl-mural-and-traditional-lantern-with-japanese-script.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Portrait by Willian Justen de Vasconcellos" class="gallery__image" />
      <figcaption class="gallery__caption">
        Portrait by Willian Justen de Vasconcellos
      </figcaption>
    </figure>
  </a>
</section>

<hr class="solid" />

<section class="signin-up">
  <span>Already a member?</span>
  <a href="/login" class="btn"> Login</a>
  <span>or get a new account!</span>
  <a href="/signup" class="btn"> Signup</a>
</section>
<%- include('partials/footer') -%>