<%- include('partials/header') -%>
<section class="content">
  <div>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div><%= el.msg %></div>
      <% }) %> <% } %>
  </div>
  <div class="auth-container">
    <form class="auth-form" action="/login" method="POST">
      <div class="container">
        <h3>Login</h3>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" id="email" value="test@test.com">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password" value="1234test">
        <button type="submit" class="btn">Log In</button>
        <a href="#">Forgot password?</a>
      </div>
      <div class="form-footer">
        <label>New Around Here?</label>
        <a href="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</section>
<%- include('partials/footer') -%>
