:root {
    /* Type */
    /* Step -2: 12.5px → 12.8px */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    /* Step -1: 15px → 16px */
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    /* Step 0: 18px → 20px */
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    /* Step 1: 21.6px → 25px */
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    /* Step 2: 25.92px → 31.25px */
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    /* Step 3: 31.104px → 39.0625px */
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    /* Step 4: 37.3248px → 48.8281px */
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    /* Step 5: 44.7898px → 61.0352px */
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
    /* Step 6: 53.7477px → 76.2939px */
    --step-6: clamp(3.3592rem, 2.8721rem + 2.4356vw, 4.7684rem);
    /* Step 7: 64.4973px → 95.3674px */
    --step-7: clamp(4.0311rem, 3.3682rem + 3.3144vw, 5.9605rem);
    /* Step 8: 77.3967px → 119.2093px */
    --step-8: clamp(4.8373rem, 3.9461rem + 4.4558vw, 7.4506rem);
    /* Step 9: 92.8761px → 149.0116px */
    --step-9: clamp(5.8048rem, 4.6214rem + 5.9167vw, 9.3132rem);
    /* Step 10: 111.4513px → 186.2645px */
    --step-10: clamp(6.9657rem, 5.4147rem + 7.7551vw, 11.6415rem);
    /* Step 11: 133.7416px → 232.8306px */
    --step-11: clamp(8.3588rem, 6.3575rem + 10.0066vw, 14.5519rem);
    /* Step 12: 160.4899px → 291.0383px */
    --step-12: clamp(10.0306rem, 7.4684rem + 12.8111vw, 18.1899rem);
    /* Step 13: 192.5879px → 363.7979px */
    --step-13: clamp(12.0367rem, 8.7692rem + 16.3376vw, 22.7374rem);
    /* Step 14: 231.1055px → 454.7473px */
    --step-14: clamp(14.4441rem, 10.3086rem + 20.6776vw, 28.4217rem);
    /* Step 15: 277.3266px → 568.4342px */
    --step-15: clamp(17.3329rem, 12.1013rem + 26.1579vw, 35.5271rem);


    /* Space */
    /* Space 3xs: 5px → 5px */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    /* Space 2xs: 9px → 9px */
    --space-2xs: clamp(0.5625rem, 0.5625rem + 0vw, 0.5625rem);
    /* Space xs: 14px → 14px */
    --space-xs: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    /* Space s: 18px → 18px */
    --space-s: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    /* Space m: 27px → 27px */
    --space-m: clamp(1.6875rem, 1.6875rem + 0vw, 1.6875rem);
    /* Space l: 36px → 36px */
    --space-l: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
    /* Space xl: 54px → 54px */
    --space-xl: clamp(3.375rem, 3.375rem + 0vw, 3.375rem);
    /* Space 2xl: 72px → 72px */
    --space-2xl: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
    /* Space 3xl: 108px → 108px */
    --space-3xl: clamp(6.75rem, 6.75rem + 0vw, 6.75rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 5px → 9px */
    --space-3xs-2xs: clamp(0.3125rem, 0.2571rem + 0.277vw, 0.5625rem);
    /* Space 2xs-xs: 9px → 14px */
    --space-2xs-xs: clamp(0.5625rem, 0.4932rem + 0.3463vw, 0.875rem);
    /* Space xs-s: 14px → 18px */
    --space-xs-s: clamp(0.875rem, 0.8196rem + 0.277vw, 1.125rem);
    /* Space s-m: 18px → 27px */
    --space-s-m: clamp(1.125rem, 1.0003rem + 0.6233vw, 1.6875rem);
    /* Space m-l: 27px → 36px */
    --space-m-l: clamp(1.6875rem, 1.5628rem + 0.6233vw, 2.25rem);
    /* Space l-xl: 36px → 54px */
    --space-l-xl: clamp(2.25rem, 2.0007rem + 1.2465vw, 3.375rem);
    /* Space xl-2xl: 54px → 72px */
    --space-xl-2xl: clamp(3.375rem, 3.1257rem + 1.2465vw, 4.5rem);
    /* Space 2xl-3xl: 72px → 108px */
    --space-2xl-3xl: clamp(4.5rem, 4.0014rem + 2.4931vw, 6.75rem);

    /* Custom pairs */
    /* Space s-l: 18px → 36px */
    --space-s-l: clamp(1.125rem, 0.8757rem + 1.2465vw, 2.25rem);

    /* Grid */
    --grid-max-width: 100.25rem;
    --grid-gutter: var(--space-2xs-xs,
            clamp(1.125rem, 0.8757rem + 1.2465vw, 2.25rem));
    --grid-columns: 12;

    /* Colors */
    --primary: black;
    --secondary: gray;
    --triary: rgb(193, 192, 192);
    --background: white;
    --hover: #131517;

    --header-text: rgb(72, 72, 72);
    --body-text: black;
    --button-text: white;

    ::-webkit-scrollbar {
        width: 0px;
    }
}

/* Reset and Normalize Stylesheet */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: var(--space-s) var(--space-3xl);
    padding: 0;
    font-size: var(--step--1);
    line-height: 1.5;
}

html {
    background: #F5F4F4;
}

/* -------------  NAVIGATION ------------- */
.logo {
    position: relative;
    z-index: 1;
    width: 4rem;
    cursor: pointer;
}

.navbar {
    width: 100%;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-between;
}


body {
    align-items: center;
    background-color: #ffded5;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.phone {
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 220px;
}

.menu {
    align-items: center;
    background-color: #303235;
    clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 28px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.active .menu {
    background-color: #e07a8d;
    clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
}

.options {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    transform: scale(0.8);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option {
    cursor: pointer;
    margin: 8px 0;
}

.option.selected {
    color: #a02f56;
}

.active .options {
    transform: scale(1);
}

.x {
    pointer-events: none;
    position: absolute;
    top: 0;
}

.top-bars {
    stroke: #303235;
    transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active .top-bars {
    stroke: #f2f2f2;
}

.bar {
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar1 {
    transform-origin: 190px 20.5px;
}

.bar2 {
    transform-origin: 190px 28.5px;
}

.active .bar1 {
    transform: translateY(8.6px) rotate(45deg);
}

.active .bar2 {
    transform: rotate(-45deg);
}

.menu-click-area {
    cursor: pointer;
    height: 40px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
}

.navbar input,
.btn,
.dropbtn {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: var(--step--1);
}

.logo {
    font-family: 'Pershotravneva', sans-serif;
    text-decoration: none;
    font-size: var(--step-3);
    color: #343a40;
}

.btn,
.dropbtn {
    color: #444a44;
    padding: 0.6rem 1rem;
    border: 1px solid #444a44;
    border-radius: 0.5rem;
    cursor: pointer;
    background: none;
}

.btn:hover,
.dropbtn:hover {
    background: var(--hover);
    color: var(--button-text);
}

.search {
    width: 50%;
    justify-content: center;
}

.search input {
    padding: 0.5rem 10rem 0.5rem 0.2rem;
}

.nav-btns {
    display: flex;
    width: 12%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu {
    margin-left: var(--space-xs-s);
}

.login {
    height: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: "IBM Plex Mono", sans-serif;
    display: none;
    position: absolute;
    border: 1px solid var(--secondary);
    background: var(--background);
    min-width: var(--space-3xl);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 1rem;
    border-radius: 0.2rem;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropdown-content h2 {
    text-align: center;
    color: var(--body-text);
}

.dropdown-content label,
.dropdown-content input,
.dropdown-content textarea {
    font-family: "IBM Plex Mono", sans-serif;
    color: var(--body-text);
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.dropdown-content textarea {
    resize: none;
}

.dropdown-content a:hover {
    background: var(--secondary);
}

.show {
    display: block;
}

.upload {
    width: 20rem;
    text-align: center;
    margin: auto;
    padding: var(--space-s);
}

.upload form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title,
.caption {
    width: 95%;
}

.title,
.caption {
    label {
        padding: 0.25rem 0;
    }
}

.title input,
.caption textarea {
    width: 100%;
    height: 3rem;
    margin: 0.5rem auto;
}

input[type="file"] {
    display: none;
}

.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload:hover {
    border: 1px solid rgb(153, 7, 85);
    color: rgb(153, 7, 85);
}

.file-chosen {
    color: rgb(153, 7, 85);
}

.file {
    margin: 1rem 0;
    width: 100%;
}