/* NEW */
:root {
    /* Type */
    /* Step -2: 12.5px → 12.8px */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    /* Step -1: 15px → 16px */
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    /* Step 0: 18px → 20px */
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    /* Step 1: 21.6px → 25px */
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    /* Step 2: 25.92px → 31.25px */
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    /* Step 3: 31.104px → 39.0625px */
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    /* Step 4: 37.3248px → 48.8281px */
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    /* Step 5: 44.7898px → 61.0352px */
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
    /* Step 6: 53.7477px → 76.2939px */
    --step-6: clamp(3.3592rem, 2.8721rem + 2.4356vw, 4.7684rem);
    /* Step 7: 64.4973px → 95.3674px */
    --step-7: clamp(4.0311rem, 3.3682rem + 3.3144vw, 5.9605rem);
    /* Step 8: 77.3967px → 119.2093px */
    --step-8: clamp(4.8373rem, 3.9461rem + 4.4558vw, 7.4506rem);
    /* Step 9: 92.8761px → 149.0116px */
    --step-9: clamp(5.8048rem, 4.6214rem + 5.9167vw, 9.3132rem);
    /* Step 10: 111.4513px → 186.2645px */
    --step-10: clamp(6.9657rem, 5.4147rem + 7.7551vw, 11.6415rem);
    /* Step 11: 133.7416px → 232.8306px */
    --step-11: clamp(8.3588rem, 6.3575rem + 10.0066vw, 14.5519rem);
    /* Step 12: 160.4899px → 291.0383px */
    --step-12: clamp(10.0306rem, 7.4684rem + 12.8111vw, 18.1899rem);
    /* Step 13: 192.5879px → 363.7979px */
    --step-13: clamp(12.0367rem, 8.7692rem + 16.3376vw, 22.7374rem);
    /* Step 14: 231.1055px → 454.7473px */
    --step-14: clamp(14.4441rem, 10.3086rem + 20.6776vw, 28.4217rem);
    /* Step 15: 277.3266px → 568.4342px */
    --step-15: clamp(17.3329rem, 12.1013rem + 26.1579vw, 35.5271rem);


    /* Space */
    /* Space 3xs: 5px → 5px */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    /* Space 2xs: 9px → 9px */
    --space-2xs: clamp(0.5625rem, 0.5625rem + 0vw, 0.5625rem);
    /* Space xs: 14px → 14px */
    --space-xs: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    /* Space s: 18px → 18px */
    --space-s: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    /* Space m: 27px → 27px */
    --space-m: clamp(1.6875rem, 1.6875rem + 0vw, 1.6875rem);
    /* Space l: 36px → 36px */
    --space-l: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
    /* Space xl: 54px → 54px */
    --space-xl: clamp(3.375rem, 3.375rem + 0vw, 3.375rem);
    /* Space 2xl: 72px → 72px */
    --space-2xl: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
    /* Space 3xl: 108px → 108px */
    --space-3xl: clamp(6.75rem, 6.75rem + 0vw, 6.75rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 5px → 9px */
    --space-3xs-2xs: clamp(0.3125rem, 0.2571rem + 0.277vw, 0.5625rem);
    /* Space 2xs-xs: 9px → 14px */
    --space-2xs-xs: clamp(0.5625rem, 0.4932rem + 0.3463vw, 0.875rem);
    /* Space xs-s: 14px → 18px */
    --space-xs-s: clamp(0.875rem, 0.8196rem + 0.277vw, 1.125rem);
    /* Space s-m: 18px → 27px */
    --space-s-m: clamp(1.125rem, 1.0003rem + 0.6233vw, 1.6875rem);
    /* Space m-l: 27px → 36px */
    --space-m-l: clamp(1.6875rem, 1.5628rem + 0.6233vw, 2.25rem);
    /* Space l-xl: 36px → 54px */
    --space-l-xl: clamp(2.25rem, 2.0007rem + 1.2465vw, 3.375rem);
    /* Space xl-2xl: 54px → 72px */
    --space-xl-2xl: clamp(3.375rem, 3.1257rem + 1.2465vw, 4.5rem);
    /* Space 2xl-3xl: 72px → 108px */
    --space-2xl-3xl: clamp(4.5rem, 4.0014rem + 2.4931vw, 6.75rem);

    /* Custom pairs */
    /* Space s-l: 18px → 36px */
    --space-s-l: clamp(1.125rem, 0.8757rem + 1.2465vw, 2.25rem);

    /* Grid */
    --grid-max-width: 100.25rem;
    --grid-gutter: var(--space-2xs-xs,
            clamp(1.125rem, 0.8757rem + 1.2465vw, 2.25rem));
    --grid-columns: 12;

    /* Colors */
    --primary: black;
    --secondary: gray;
    --triary: rgb(193, 192, 192);
    --background: white;
    --hover: #131517;

    --header-text: rgb(72, 72, 72);
    --body-text: black;
    --button-text: white;

    ::-webkit-scrollbar {
        width: 0px;
    }
}

/*
Reset
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* ----------- LAYOUT ------------------ */
html {
    background: #F5F4F4;
}

.u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.u-grid {
    display: grid;
    gap: var(--grid-gutter);
}

.content {
    min-height: calc(100vh - 12rem);
}

.flex {
    display: flex;
}

@font-face {
    font-family: 'Pershotravneva';
    src: url('/assets/Pershotravneva55.ttf') format('truetype');
}

body {
    margin: var(--space-s-m);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/* -------------  NAVIGATION ------------- */
.logo {
    position: relative;
    z-index: 1;
    width: 3rem;
    cursor: pointer;
}

.navbar {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 3rem 0;
}

.nav-btns {
    display: none;
}

.menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100%;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 12;
    cursor: pointer;
    width: 50px;
    height: 100%;
    opacity: 0;
    align-items: center;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Hamburger line */
.menu-wrap .hamburger>div {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger>div:after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
    background: white;
}

/* Turn Lines into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
    background: white;
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.25s;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.menu-wrap .menu>div {
    background-color: rgba(13, 25, 35, 0.915);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: none;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    margin: 6rem 0;
    max-width: 50vw;
    max-height: 50vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu ul {
    padding: 0;
}

.menu ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.navbar input,
.btn,
.dropbtn {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: var(--step--1);
}

.btn,
.dropbtn {
    color: #444a44;
    padding: 0.6rem 1rem;
    border: 1px solid #444a44;
    border-radius: 0.5rem;
    cursor: pointer;
    background: none;
}

.btn:hover,
.dropbtn:hover {
    background: var(--hover);
    color: var(--button-text);
}

.drop-menu {
    margin-left: var(--space-xs-s);
}

.login {
    height: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: "IBM Plex Mono", sans-serif;
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid var(--secondary);
    background: var(--background);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 0.2rem;
    border-radius: 0.2rem;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    text-align: center;
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: #444a44;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #444a44;
}

.dropdown a:last-child {
    border: none;
}

.dropdown a:hover {
    color: var(--hover);
}

.dropdown-content h2 {
    text-align: center;
    color: var(--body-text);
}

.dropdown-content label,
.dropdown-content input,
.dropdown-content textarea {
    font-family: "IBM Plex Mono", sans-serif;
    color: var(--body-text);
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.dropdown-content textarea {
    resize: none;
}

.dropdown-content a:hover {
    background: var(--secondary);
}

.show {
    display: block;
}

.upload {
    width: 20rem;
    text-align: center;
    margin: auto;
    padding: var(--space-s);
}

.upload form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title,
.caption {
    width: 95%;
}

.title,
.caption {
    label {
        padding: 0.25rem 0;
    }
}

.title input,
.caption textarea {
    width: 100%;
    height: 3rem;
    margin: 0.5rem auto;
    border: 1px solid #444a44;
    border-radius: 0.2rem;
}

input[type="file"] {
    display: none;
}

.file-upload {
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload:hover {
    border: 1px solid rgb(153, 7, 85);
    color: rgb(153, 7, 85);
}

.file-chosen {
    color: rgb(153, 7, 85);
}

.file {
    margin: 1rem 0;
    width: 100%;
}


/* ------------- FEED ---------------- */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 2rem;
}

.hero-bg {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(/imgs/bg-pink.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 65%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.feature-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    z-index: 1;
}

.feature-wrapper h1,
.feature-wrapper span {
    width: 100%;
    text-align: center;
    font-family: 'Pershotravneva', sans-serif;
    line-height: 0.9;
    font-weight: 900;
    font-size: var(--step-4);
    color: #1d1b1b;
    cursor: default;
}

.feature-wrapper span {
    display: inline;
    font-size: clamp(4.8373rem, 3.9461rem + 9.4558vw, 18.1899rem);
    background-size: 140%;
    background-position: center;
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGNrZjRrbGszYzNrNnk5dTR5YTBmMTd4MmFpbzF4aHBubW51bjVrOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26hitcgWRptsLWw0w/giphy.gif');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-2px 7px 1px #5d0f25e7);
}

.explore {
    margin: 0.2rem 0;
    width: 100%;
    font-size: var(--step-2);
}

.explore span,
.heading {
    font-size: var(--step-1);
}

.signin-up {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.signin-up span {
    font-family: 'Pershotravneva', sans-serif;
    width: 100%;
    text-align: center;
    padding: var(--space-s) 0;
}

.signin-up a {
    text-decoration: none;
}

/* ------------- USER ------------- */
.user-info {
    display: flex;
    margin: auto;
    max-width: 900px;
    font-size: var(--step--1);
    padding: 0.5rem 1rem;
    border: 1px solid #444a44;
    border-radius: 0.2rem;
    justify-content: space-between;
    align-items: center;
}

.user-info h2 {
    width: 50%;
}

.pc {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
}

.pc img {
    width: 25%;
    border-radius: 50%;
    border: 1px solid #444a44;
    margin-right: 0.5rem;
}

/* ------------- GALLERY ------------- */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 0;
    transition: 0.3s;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__link {
    overflow: hidden;
    max-height: 200px;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
    height: 100%;
}

.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

.profile_gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.profile_gallery__image:hover {
    transform: scale(1.1);
}

/* ------------- POST ------------- */
.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
}

.artwork-image {
    width: 100%;
    height: 60vh;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #171717;
    border-radius: 0.5rem;
}

hr.solid {
    border-top: 1px solid #bbb;
}

.description h2 {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: var(--step-2);
    padding: var(--space-s);
}

.description p {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: var(--step-1);
    padding: 0 1rem;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
}

.actions form,
.actions h3 {
    display: flex;
    width: 33%;
    justify-content: space-around;
    margin: auto;
    font-size: var(--step-0);
}

.action-btn {
    padding: 0.25rem;
    margin: 0.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.action-btn svg {
    padding: 0;
    margin: 0.10rem;
    height: 2.5rem;
}



/* ------------- AUTH ---------------- */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 2rem;
}

.auth-form {
    margin: auto;
    height: fit-content;
    max-width: 400px;
    border-radius: 0.5rem;
    border: 1px solid #444a44;
    padding: 3rem 2rem;
    color: #444a44;
    letter-spacing: 0.5px;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 500;
}

.auth-form h3 {
    font-size: var(--step-2);
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
}

.auth-form a {
    text-decoration: underline;
    color: #444a44;
}

.auth-form label {
    display: block;
    margin-top: 2.5rem;
    font-size: var(--step-0);
    font-weight: 500;
}

.auth-form input {
    display: block;
    height: var(--space-m);
    width: 100%;
    background-color: #444a440e;
    border-radius: 0.5rem;
    padding: 1.5rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    border: 1px solid #444a44;
    color: #444a44;
}

.auth-form input::placeholder {
    color: #444a448b;
}

.auth-form button {
    margin: 1rem 0;
    width: 100%;
}

.signup {
    height: fit-content;
}

.signup span {
    font-size: var(--step--1);
    padding: 0.5rem;
}

.form-body {
    height: 80%;
}

.form-body span {
    color: #444a44c1;
}

.form-footer {
    height: 20%;
    padding: 1rem 0;
}

.form-footer label {
    margin: 0;
}

.form-footer a {
    display: block;
    padding: 0.2rem 0;
}

.alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
}

.alertCheckbox {
    display: none;
}

:checked+.alert {
    display: none;
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
}

.clear {
    clear: both;
}

.error {
    background-color: rgb(220, 157, 157);
    border: 1px solid rgb(201, 122, 122);
    color: rgb(8, 8, 8);
}

/* --------------- FOOTER ---------------------- */
footer {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.3;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: var(--step--2);

    .socials,
    .copyright {
        padding: 5px 0;
        text-align: center;
        width: 100%;

        a {
            color: rgb(84, 86, 161);
            text-decoration: none;
            box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
        }

        a:hover {
            box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
        }

        a:hover~p {
            animation: wave-animation 0.3s infinite;
        }

        @keyframes wave-animation {

            0%,
            100% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(20deg);
            }

            75% {
                transform: rotate(-15deg);
            }
        }
    }
}


/* ------------- RESPONSIVE ---------------- */

@media (min-width: 800px) {

    /* Nav */
    .menu-wrap {
        display: none;
    }

    .logo {
        width: 4rem;
    }

    .nav-btns {
        display: flex;
        width: min-content;
        gap: var(--space-s);
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .dropdown-content {
        min-width: 10rem;
    }

    /* Feed */
    .hero-bg {
        display: flex;
        top: -150px;
        height: 500px;
        background-position: center;
        background-size: 100%;
    }

    /* User */
    .user-info img {
        width: 10%;
    }

    /* Gallery */
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__link {
        max-height: 300px;
    }

    /* Post */
    .post-container {
        flex-direction: row;
    }

    .artwork-image,
    .description {
        width: 50%;
        height: 75vh;
    }

    .description {
        padding-left: var(--space-m);
    }

    /* Auth */
    .auth-form {
        width: 50vw;
    }

    /* Foot */
    footer {
        height: 9rem;
        font-size: var(--step--1);
    }
}

@media (min-width: 1100px) {
    body {
        margin: var(--space-m) var(--space-2xl-3xl);
    }

    .hero-bg {
        display: flex;
        top: -130px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery__link {
        max-height: 300px;
    }

    .description {
        padding: 0 var(--space-xl-2xl);
    }
}

@media (min-width: 1600px) {
    body {
        margin: var(--space-m) 10rem;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery__link {
        max-height: 350px;
    }
}

@media (min-width: 2300px) {

    body {
        margin: var(--space-m) 20rem;
    }

    .explore span,
    .heading {
        font-size: var(--step-2);
    }

}